data/
__pycache__/
 
*.pth
*.ckpt
lightning_logs/
experiment/experiment_checkpoints
*.ckpt
Datasets/sentinel  
Datasets/imagenet-mini  
Datasets/coco2017 
Datasets/clothing
Datasets/clothing
Datasets/cifar10