
__pycache__/
.venv/
**.ipynb_checkpoints

# ignore outputs
build/
dist/
*egg-info/

# data
Datasets/
# dont ignore these datasets 
!Datasets/cifar10/

*.pth
*.ckpt
lightning_logs/
**your_dir_save_log/
experiment/experiment_checkpoints
*.ckpt
